<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nihar.eswing" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomePage"
            android:label="Welcome to eSwing!" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Log In to your account" >
        </activity>
        <activity
            android:name=".StartPlayingNew"
            android:label="Final Settings" >
        </activity>
        <activity
            android:name=".AccountCreated"
            android:label="Account Created" >
        </activity>
        <activity
            android:name=".DataReceived"
            android:label="Data Received" >
        </activity>
        <activity
            android:name=".GenerateReport"
            android:label="Generate Report" >
        </activity>
        <activity
            android:name=".DeviceScanActivity"
            android:label="@string/title_activity_device_scan" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".PersonalInfo"
            android:label="@string/title_activity_personal_info" >
        </activity>
        <activity
            android:name=".Clubs"
            android:label="@string/title_activity_clubs" >
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".MainList"
            android:label="@string/title_activity_main_list" >
        </activity>
        <activity
            android:name=".PairDevice"
            android:label="@string/title_activity_pair_device" >
        </activity>
        <activity
            android:name=".ClubAdd"
            android:label="@string/title_activity_club_add" >
        </activity>
        <activity
            android:name=".PlayerAdd"
            android:label="@string/title_activity_player_add" >
        </activity>
        <activity
            android:name=".Visualization"
            android:label="@string/title_activity_visualization" >
        </activity>
        <activity
            android:name=".PlayersChosen"
            android:label="@string/title_activity_players_chosen" >
        </activity>
        <activity
            android:name=".ClubChose"
            android:label="@string/title_activity_club_chose" >
        </activity>
        <activity

            android:name=".Visualization2"
            android:label="Visualization2" >

            android:name=".Bluetooth1"
            android:label="@string/title_activity_bluetooth1" >
        </activity>
        <activity
            android:name=".Bluetooth2"
            android:label="@string/title_activity_bluetooth2" >
        </activity>
        <activity
            android:name=".VisualizationData"
            android:label="@string/title_activity_visualization_data" >

        </activity>
    </application>

</manifest>
